{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col">
                    <h3 class="color-header text-uppercase">Szczegóły przepisu&nbsp;</h3>
                </div>
                <div class="col d-flex justify-content-end mb-2 noPadding" id="button">
                    <a href="/plan/add-recipe/" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj przepis do planu</a>
                </div>
                {% if back %}
                <div class="col d-flex justify-content-end mb-2">
                    <a href="{{ back }}" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                </div>
                {% endif %}
            </div>
            <table class="table borderless">
                <tbody>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                    <td class="col-7">
                        {{ recipe }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Opis przepisu</th>
                    <td class="col-7">{{ recipe.description }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                    <td class="col-7">
                        {{ recipe.preparation_time }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Liczba polubień</th>
                    <td class="col-7">
                        {{ recipe.votes }}&nbsp;&nbsp;
                        <button type="submit" name="submit" value="like" form="form1" style="width: 150px"
                                class="text-uppercase btn btn-success rounded-1 pt-0 pb-0 pr-2 pl-2">
                            {{ like_it_text }}
                        </button>&nbsp;
                        <button type="submit" name="submit" value="dislike" form="form1" style="width: 150px"
                                class="text-uppercase btn btn-danger rounded-1 pt-0 pb-0 pr-2 pl-2">
                            {{ dislike_it_text }}
                        </button>&nbsp;
                        {{ like_status|safe }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row d-flex">
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Sposób przygotowania</h3></div>
                <div class="col-2"></div>
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Składniki</h3></div>
            </div>
            <div class="row d-flex">
                <div class="col-5 p-4">
                    <p>{{ recipe.preparation_details }}</p>
                </div>
                <div class="col-2"></div>
                <ul class="col-5 p-4 list-unstyled">
                    {% for ingredient in ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <form method="POST" id="form1" action="#">
        {% csrf_token %}
        <input type="hidden" name="back" value="{{ back }}">
        <!--input type="hidden" value="{ { recipe.id }}"-->
    </form>
{% endblock content %}